@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}



#demo{
    margin: 200px;
}
.section{
    width: 100%;
}
.section .container  {
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px;

}
.container .title {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.container .title h1{
    text-transform: uppercase;
    font-size: 69px;
    color: coral;
}
.container .title h1::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color: #c4d156;
    border-radius: 25px;
    display: block;
    margin: auto;
}
.content{
    float:left;
    width: 55%;
}
.image-section {
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content .article h3{
    color: grey;
    font-size: 37px;



}
 
h3{
    float: right;
}